.error {
  border: 1px solid red;
}

/* Optional styles */
body {
  background: lightyellow;
}

.success {
  border: 1px solid green;
}

.progress {
  border: 1px solid orange;
}

#resultContainer {
  border: 1px solid black;
  height: 20px;
}
