/* Reset Box Sizing */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Document */
body {
  font: 16px/20px arial, 'liberation sans', 'dejavu sans', sans-serif;
}

.container {
  padding: 14px 14px 30px;
  min-width: 250px;
}

/* My Form */
.primary-form,
.secondary-form,
#myForm,
#debugForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.primary-form > *,
.secondary-form > *,
#myForm > *,
#debugForm > * {
  flex: 1 1 100%;
}

#myForm > div,
#debugForm > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#myForm label,
#myForm input {
  flex: 1 1 100%;
}

h1,
h2,
label,
input,
button,
#resultContainer {
  padding: 4px;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.17em;
  margin: 0.5em 0;
}

.primary-form h1 {
  margin-bottom: 27px;
}

input {
  border: 1px solid #a9a9a9;
}

.error {
  border: 1px solid red;
}

[role="tooltip"] {
  margin: 4px 0 8px;
  padding: 4px;
  font-style: italic;
}

#myForm button {
  margin-top: 6px;
}

@media (min-width: 768px) {
  body {
    display: flex;
    min-height: 100vh;
    padding: 30px;
  }

  .container {
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 60px 90px 90px;
    margin: auto;
    max-width: 692px;
  }

  #myForm label {
    flex: 1 1 20%;
    margin: 4px 0;
  }

  #myForm input {
    flex: 1 1 80%;
  }

  [role="tooltip"] {
    margin: 0 0 8px 20%;
  }

  #myForm button {
    flex: 0 1 32%;
  }
}

/* My Form - Result Container */
#resultContainer {
  background: #f3f3f3;
  border: 1px solid #a9a9a9;
}

#resultContainer::before {
  content: "\200B";
}

#resultContainer.error {
  border-color: red;
}

#resultContainer.success {
  border-color: green;
}

#resultContainer.progress {
  border-color: orange;
}

/* Debug Form */
.secondary-form {
  border-top: 1px dashed #a9a9a9;
  margin-top: 40px;
  padding-top: 20px;
}

#debugForm {
  justify-content: space-between;
}

#debugForm input {
  margin: 0 6px 0 8px;
}

#debugForm button {
  margin-top: 16px;
}

#debugForm button:first-of-type {
  margin-top: 6px;
}

@media (min-width: 768px) {
  #debugForm > div {
    flex: 1 1 33.333333%;
    margin: 12px 0;
    justify-content: center;
  }

  #debugForm button {
    margin-top: 6px;
    flex: 0 1 32%;
  }
}
